/* Your custom styles below */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-georgia {
    font-family: Georgia, serif;
  }
}

body {
  margin: 0;
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
